*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
header{
    overflow: hidden;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 1;

}
li{
  display: inline-block;
  position: relative;

}
header a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 17px 17px;
}
nav a:hover,.more-option:hover .more-btn{
    color: rgb(0, 0, 0);
    background-color: rgb(188, 182, 182);
}

.more-option{
    overflow: hidden;
}
.more-option .more-btn{
    background-color:inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 17px 17px;
} 
.more-btn{
    margin-top: 10px;
}
.more-btn :hover{
    color: rgb(0, 0, 0);
    background-color: rgb(188, 182, 182);

}
.more-btn:hover  .more-options {
    z-index: 1;
    display: inline-block;
}
.more-option :hover {
    color: rgb(0, 0, 0);
    background-color: rgb(188, 182, 182);
}  
.more-options{
    display: none;
    min-width: 160px;
    z-index: 2;
}

/* .more-options a:hover{
background-color: rgb(188, 182, 182);
} */

.more-option:hover .more-options{
display: block;
}
.search-icon{
    float: right;
    color: white;
    background-color: black;
     padding: 15px 23px 19px 23px;
     cursor: pointer;
}
.search-icon:hover{
  background-color: rgb(235, 44, 44);

}

img{
    width: 100%;
}
.slideshow-container{
    width: 100%;
    margin-top: 53px;
    position: relative;
}
.text{
    color: rgb(253, 246, 246);
    font-size: 20px;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.text h3{
    margin-bottom: 2%;
    font-family: 'Mukta', sans-serif;
}
.text p{
    margin-bottom: 1%;
}
.summary{
position: relative;
top: 55px;
}
.txt{
    text-align: justify;
    margin-left: 400px;
    width: 700px;
    margin-top: 150px;

}
.person img{
    size: 30px;
    padding: 60px;
}
.person p{
    text-align: center;
}
.band-members{
    padding:100px 300px;

}
.summary{
    text-align: center;
    font-family:  'Raleway', sans-serif;;
}
.under-title{
    font-style: italic;
    margin-top: 1rem;
    color: rgb(170, 166, 166);
}
#tour{
    background-color: black;
}
#tour h2{
    color: white;
    padding-top: 55px;
}

.months ul li{
color: gray;
background-color: white;
list-style: none;
width: 100vh;
height:35px ;
}
hr{
    width: 100vh;
}
.months ul{
    display: block;
    margin-top: 5%;
    margin-left: 28%;
}

span{
    background-color: rgb(242, 51, 51);
    color: white;
    width: 10px;
    height: 5px;
    margin-left: 35px;
    margin-top: 10px;
}
.tours-cities,.contact-title{
    position: relative;
    top: 50px;
    left: 27%;
}
.new-york, .paris, .san-fransisco{
    height: 60vh;
    width: 35vh;
    margin: 10px;
    background-color: white;

    padding: 0 10px;

}

.text-tours,.contact-title{
    margin-top: 30px;
}
.buy-tickets-btn{
    margin-top: 30px; 
    padding: 7px 10px ;
    background-color: black;
    color: white;
    cursor: pointer;
}
.buy-tickets-btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(188, 182, 182);

}
.contact-main{
    display: flex;
   position: relative;
   top:80px;
   left:35%;
    font-size: larger;
    padding: 10px;
    width: 300px;
    height: 500px;
}
.contact-info{
    margin-top: 25%;
    display: inline-block;
    width: 220px;
    height: 50px;
}
.labels
{
    padding: 20px;
    margin-top: 20%
}
label{
    height: 30px;
}
.msg-label{
    display: inline-block;
    width: 500px;
}
.contact-title{
    margin-left: 21%;
}
.send-btn{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
    display: block;
    margin-left: 50%;
}
.send-btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(188, 182, 182);
   
}
.road img{
    width: 100%;
    height: 100%;
}
.icons{
    margin-top: 8%;
    margin-left: 45%;
}
.icons i{
    color: gray;
    font-size: 25px;
}
footer{
    height:150px;
}
footer a{
    text-decoration: none;
    color: gray;
}
.end{
   text-align: center;
   margin-top: 20px;
}
